<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js' integrity='sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js' integrity='sha512-DJ2+sosWB5FnZAIeCWAHu2gxQ7Gi438oOZLcBQSOrW8gD0s7LIXDv/5RW76B3FcljF40BXnfqNIo6Dhp7dFHJg==' crossorigin='anonymous'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Boolzapp</title>
  </head>
  <body>
    
    <div id="app">
      <div class="pg-main-wrapper vh-100 d-flex justify-content-center align-items-center">
        <!-- Application Container -->
        <div class="pg-application-container d-flex">
          
          <!-- Aside -->
          <aside class="d-flex flex-column">

            <!-- Top Bar -->
            <div class="pg-top-bar d-flex align-items-center justify-content-between flex-shrink-0" :class="{'pg-black' : darkMode}">

              <!-- User Info -->
              <div class="pg-user ps-3">
                <img class="rounded-circle" :src="self.avatar" alt="">
                <span class="ps-3">{{self.name}}</span>
              </div>
              <!-- /User Info -->

              <!-- Icons -->
              <div class="pg-icon fs-4 pe-2" :class="{'pg-black' : darkMode}">
                <i class="fa-solid fa-circle-half-stroke" @click="darkMode = !darkMode"></i>
                <i class="fa-solid fa-circle-notch px-2"></i>
                <i class="fa-solid fa-message px-2"></i>
                <i class="fa-solid fa-ellipsis-vertical px-2"></i>
              </div>
              <!-- /Icons -->
            </div>
            <!-- /Top Bar -->

            <!-- Notification Container -->
            <div class="pg-notification-bar d-flex px-3 align-items-center flex-shrink-0" :class="{'pg-black' : darkMode}">

              <!-- Icon Container -->
              <div class="pg-icon rounded-circle bg-white d-flex justify-content-center align-items-center me-3">
                <i class="fa-solid fa-bell-slash fs-5"></i>
              </div>
              <!-- /Icon Container -->

              <!-- Text Container -->
              <div class="pg-text d-flex flex-column">
                <span class="pb-0 fw-medium" :class="{whiteText : darkMode}">Ricevi notifiche di nuovi messaggi</span>
                <a href="#" :class="{whiteText : darkMode}">Attiva notifiche desktop</a>
              </div>
              <!-- /Text Container -->
            </div>
            <!-- /Notification Container -->

            <!-- Input Container -->
            <div class="pg-input-container input-group p-2 flex-shrink-0" :class="{'pg-black' : darkMode}">

              <span class="input-group-text" id="inputGroup-sizing-default">
                <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
              </span>

              <input @keyup="searchContact" v-model.trim="checkMsg" type="text" class="form-control" aria-label="Sizing example input" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- /Input Container -->

            <!-- Contacts Container -->
            <div class="pg-contacts-container overflow-scroll" :class="{'pg-black' : darkMode}">
              <div v-for="(contact, i) in contacts" class="pg-user-chat d-flex py-2" :class="{active : index == i} , {'pg-black' : darkMode}" v-show="contact.visible" @click="index = i">
                <div class="img-container px-3">
                  <img class="rounded-circle" :src="contact.avatar" alt="">
                </div>

                <div class="text-container d-flex flex-column py-2">
                  <span class="fw-medium" :class="{whiteText : darkMode}">{{contact.name}}</span>
                  <span v-if="contact.messages.length >= 1" class="pg-last-message fs-6" v-html="contact.messages[contact.messages.length - 1].message" :class="{whiteText : darkMode}"></span>
                </div>

                <div class="date-container ms-auto d-flex flex-column text-end me-3 py-2">
                  <span v-if="contact.messages.length >= 1" class="fs-6" :class="{whiteText : darkMode}">{{contact.messages[contact.messages.length - 1].date}}</span>
                  <span v-if="contact.messages.length >= 1" class=" fs-6" :class="{whiteText : darkMode}">{{contact.messages[contact.messages.length - 1].time}}</span>
                </div>

              </div>
            </div>
            <!-- /Contacts Container -->
          </aside>
          <!-- /Aside -->

          <!-- Chat Container -->
          <div class="pg-chat-container d-flex flex-column h-100">

            <!-- Top Bar -->
            <div class="pg-top-bar d-flex align-items-center justify-content-between flex-shrink-0" :class="{'pg-black' : darkMode}">

              <!-- Contact Top -->
              <div class="pg-contact-top d-flex ps-3">
                <div class="img-container">
                  <img :src="contacts[index].avatar" alt="" class="rounded-circle">
                </div>

                <div class="text-container d-flex justify-content-center flex-column ms-3">
                  <span :class="{whiteText : darkMode}">{{contacts[index].name}}</span>
                  <span v-if="contacts[index].messages.length >= 1" class="fs-6" :class="{whiteText : darkMode}">Ultimo accesso alle {{contacts[index].messages[contacts[index].messages.length - 1].time}} del {{contacts[index].messages[contacts[index].messages.length - 1].date}}</span>
                </div>
              </div>
              <!-- /Contact Top -->

              <!-- Icon Container -->
              <div class="pg-icon fs-4 pe-2" :class="{'pg-black' : darkMode}">
                <i class="fa-solid fa-magnifying-glass px-2"></i>
                <i class="fa-solid fa-paperclip px-2"></i>
                <i class="fa-solid fa-ellipsis-vertical px-2"></i>
              </div>
              <!-- /Icon Container -->
            </div>
            <!-- /Top Bar -->

            <!-- Chat Wrapper -->
            <div class="pg-chat-wrapper position-relative overflow-x-hidden h-100 overflow-scroll" :class="{'pg-black': darkMode}">

              <!-- Message -->
              <div v-for="(text, msgIndex) in contacts[index].messages" class="message position-relative mb-2" :class="text.status, {'pg-black' : darkMode}">
                <span class="pg-chevron" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-chevron-down text-black-50"></i></span>

                <!-- Dropdown Menu -->
                <div class="dropdown" v-if="contacts[index].messages.length >= 1">
                  <ul class="dropdown-menu flex-column">
                    <li><button class="dropdown-item" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" @click="saveIndex(msgIndex)">Info messaggio</button></li>
                    <li @click="deleteMessage(msgIndex)"><button class="dropdown-item" type="button">Elimina messaggio</button></li>
                  </ul>
                </div>
                <!-- /Dropdown Menu -->
                
                <span class="me-4" v-html="text.message" :class="{whiteText : darkMode}"></span>
                <span class="pg-small-text text-end me-2" :class="{whiteText : darkMode}">{{text.time}}</span>
              </div>
              <!-- /Message -->
              
              <!-- Offcanvas -->
              <div v-if="contacts[index].messages.length >= 1" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" :class="{'pg-black' : darkMode}">
                
                <div class="offcanvas-header">
                  
                  <h5 class="offcanvas-title" id="offcanvasLabel" :class="{whiteText : darkMode}">Info Messaggio</h5>
                  
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                  
                  <div class="d-flex flex-column">

                    <div class="py-2" :class="{whiteText : darkMode}">
                      <span class="fw-semibold">Messaggio:</span>
                      <span v-html="contacts[index].messages[messageIndex].message"></span>
                    </div>

                    <div class="py-2" :class="{whiteText : darkMode}">
                      <span class="fw-semibold">Data d'invio: </span>
                      <span>{{contacts[index].messages[messageIndex].date}}</span>
                    </div>

                    <div class="py-2" :class="{whiteText : darkMode}">
                      <span class="fw-semibold">Ora d'invio: </span> 
                      <span>{{contacts[index].messages[messageIndex].time}}</span>
                    </div>

                    <div :class="{whiteText : darkMode}">
                      <span class="fw-semibold">Status del messaggio: </span> 
                      <span>{{contacts[index].messages[messageIndex].status}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Offcanvas -->

            </div>
            <!-- /Chat Wrapper -->

            <!-- Message Input -->
            <div class="pg-message-input d-flex align-items-center flex-shrink-0" :class="{'pg-black' : darkMode}">
              
              <div class="btn-group dropup">
                <span data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-regular fa-face-smile fs-4 mx-5 my-4 poi"></i>
                </span>
                <ul class="dropdown-menu pg-emoji-menu" :class="{'pg-black' : darkMode}">
                  <li class="px-3 fs-3" @click="addEmoji(1)"><i class="fa-solid fa-face-smile" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(2)"><i class="fa-solid fa-face-surprise" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(3)"><i class="fa-solid fa-face-sad-cry" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(4)"><i class="fa-solid fa-face-smile-beam" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(5)"><i class="fa-solid fa-face-kiss-wink-heart" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(6)"><i class="fa-solid fa-face-meh-blank" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(7)"><i class="fa-solid fa-face-grin-hearts" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(8)"><i class="fa-solid fa-face-smile-wink" style="color: #f6d32d;"></i></li>
                  <li class="px-3 fs-3" @click="addEmoji(9)"><i class="fa-solid fa-face-angry" style="color: #e01b24;"></i></li>
                </ul>
              </div>

              <input v-model.trim="newMsgText" @keyup.enter="newMsg" class="form-control py-3" type="text" placeholder="Scrivi un messaggio" aria-label="default input example">

              <i class="fa-solid fa-microphone fs-4 m-5"></i>
            </div>
            <!-- /Message Input -->
          </div>
          <!-- /Chat Container -->
        </div>
        <!-- /Application Container -->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script type="module" src="assets/js/script.js"></script>
  </body>
</html>